In [478]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to change the path if needed.)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read the School Data and Student Data and store into a Pandas DataFrame
school_data_df = pd.read_csv(school_data_to_load)
student_data_df = pd.read_csv(student_data_to_load)

# Cleaning Student Names and Replacing Substrings in a Python String
# Add each prefix and suffix to remove to a list.
prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]

# Iterate through the words in the "prefixes_suffixes" list and replace them with an empty space, "".
for word in prefixes_suffixes:
    student_data_df["student_name"] = student_data_df["student_name"].str.replace(word,"")

# Check names.
student_data_df.head(10)

<ipython-input-478-e456d7f40152>:18: FutureWarning: The default value of regex will change from True to False in a future version.
  student_data_df["student_name"] = student_data_df["student_name"].str.replace(word,"")

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
5,5,Bryan Miranda,M,9th,Huang High School,94,94
6,6,Sheena Carter,F,11th,Huang High School,82,80
7,7,Nicole Baker,F,12th,Huang High School,96,69
8,8,Michael Roth,M,10th,Huang High School,95,87
9,9,Matthew Greene,M,10th,Huang High School,96,84

## Deliverable 1: Replace the reading and math scores.

### Replace the 9th grade reading and math scores at Thomas High School with NaN.

In [479]:
# Install numpy using conda install numpy or pip install numpy. 
# Step 1. Import numpy as np.
import numpy as np

In [480]:
# Step 2. Use the loc method on the student_data_df to select all the reading scores from the 9th 
# grade at Thomas High School and replace them with NaN.

# filtering on school name and 9th grade
result = (student_data_df['school_name'] == "Thomas High School") & (student_data_df['grade'] == "9th")
# target reading score for filtered data
student_data_df.loc[result,['school_name','grade', 'reading_score']]
# setting values in column 'reading_score' to NaN
student_data_df.loc[result,['reading_score']] = np.nan

# did it work?
student_data_df.loc[result,['school_name','grade', 'reading_score']].head(20)

              school_name grade  reading_score
37537  Thomas High School   9th            NaN
37538  Thomas High School   9th            NaN
37539  Thomas High School   9th            NaN
37540  Thomas High School   9th            NaN
37543  Thomas High School   9th            NaN
37550  Thomas High School   9th            NaN
37558  Thomas High School   9th            NaN
37559  Thomas High School   9th            NaN
37562  Thomas High School   9th            NaN
37564  Thomas High School   9th            NaN
37567  Thomas High School   9th            NaN
37569  Thomas High School   9th            NaN
37572  Thomas High School   9th            NaN
37573  Thomas High School   9th            NaN
37578  Thomas High School   9th            NaN
37581  Thomas High School   9th            NaN
37587  Thomas High School   9th            NaN
37599  Thomas High School   9th            NaN
37609  Thomas High School   9th            NaN
37610  Thomas High School   9th            NaN

In [481]:
#  Step 3. Refactor the code in Step 2 to replace the math scores with NaN.
# filtering on school name and 9th grade
result = (student_data_df['school_name'] == "Thomas High School") & (student_data_df['grade'] == "9th")
# adding the math score to the filter
student_data_df.loc[result,['school_name','grade', 'math_score']]
# setting the math score column to NaN
student_data_df.loc[result,['math_score']] = np.nan

In [482]:
#  Step 4. Check the student data for NaN's. 

# viewing results
student_data_df.loc[result,['school_name','grade', 'reading_score', 'math_score']].head()

              school_name grade  reading_score  math_score
37537  Thomas High School   9th            NaN         NaN
37538  Thomas High School   9th            NaN         NaN
37539  Thomas High School   9th            NaN         NaN
37540  Thomas High School   9th            NaN         NaN
37543  Thomas High School   9th            NaN         NaN

## Deliverable 2 : Repeat the school district analysis

### District Summary

In [483]:
# Combine the data into a single dataset
school_data_complete_df = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])
school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66.0,79.0,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94.0,61.0,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90.0,60.0,0,District,2917,1910635
3,3,Richard Scott,M,12th,Huang High School,67.0,58.0,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97.0,84.0,0,District,2917,1910635

In [484]:
# Calculate the Totals (Schools and Students)
school_count = len(school_data_complete_df["school_name"].unique())
print(school_count)
student_count = school_data_complete_df["Student ID"].count()
print(student_count)
# Calculate the Total Budget
total_budget = school_data_df["budget"].sum()
print(total_budget)

15
39170
24649428

In [485]:
# Calculate the Average Scores using the "clean_student_data".
average_reading_score = school_data_complete_df["reading_score"].mean()
average_math_score = school_data_complete_df["math_score"].mean()

In [486]:
# Step 1. Get the number of students that are in ninth grade at Thomas High School.
# These students have no grades. 
ths_ninth_graders=school_data_complete_df[(school_data_complete_df["grade"] == "9th") & 
                                         (school_data_complete_df["school_name"] == "Thomas High School")]
ths_9_graders_count = ths_ninth_graders.count()
# Get the total student count 
student_count = school_data_complete_df["Student ID"].count()
# credit: stackoverflow
float_formatter = "{:,.0f}".format
# print(f"student_count:\t{float_formatter(student_count)}")

# Step 2. Subtract the number of students that are in ninth grade at 
# Thomas High School from the total student count to get the new total student count.
student_count_updated = student_count - ths_9_graders_count
# print(student_count_updated)

In [487]:
# Calculate the passing rates using the "clean_student_data".
passing_math_count = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)].count()["student_name"]
passing_reading_count = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)].count()["student_name"]
# credit: stackoverflow
float_formatter = "{:,.0f}".format

print(f"passing_math_count:\t{float_formatter(passing_math_count)}\npassing_reading_count:\t{float_formatter(passing_reading_count)}\n")

passing_math_count:	28,939
passing_reading_count:	33,158

In [488]:
# Step 3. Calculate the passing percentages with the new total student count.
# credit: stackoverflow
float_formatter = "{:,.2f}".format
def passing_math_percentage(): 
    return passing_math_count/ student_count_Updated * 100
    
def passing_reading_percentage():
    return passing_reading_count / student_count_Updated * 100
    

print(f"passing_math_count:\t{float_formatter(passing_math_percentage()['math_score'] )}\npassing_reading_count:\t{float_formatter(passing_reading_percentage()['reading_score'])}\n")

passing_math_count:	73.88
passing_reading_count:	84.65

In [489]:
# Calculate the students who passed both reading and math.
passing_math_reading = school_data_complete_df[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["reading_score"] >= 70)]
passing_math_reading.head()
# Calculate the number of students that passed both reading and math.
overall_passing_math_reading_count = passing_math_reading["student_name"].count()
# print(overall_passing_math_reading_count)

# Step 4.Calculate the overall passing percentage with new total student count.
overall_passing_percentage = overall_passing_math_reading_count / student_count_Updated * 100
# print(overall_passing_percentage["Student ID"])
float_formatter = "{:,.2f}".format
print(f"overall_passing_percentage:\t{float_formatter(overall_passing_percentage['Student ID'])}")

overall_passing_percentage:	64.86

In [490]:
# Create a DataFrame
district_summary_df = pd.DataFrame(
          [{"Total Schools": school_count, 
          "Total Students": student_count, 
          "Total Budget": total_budget,
          "Average Math Score": average_math_score, 
          "Average Reading Score": average_reading_score,
          "% Passing Math": passing_math_percentage(),
         "% Passing Reading": passing_reading_percentage(),
        "% Overall Passing": overall_passing_percentage["Student ID"]}])

# Format the "Total Students" to have the comma for a thousands separator.
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)
# Format the "Total Budget" to have the comma for a thousands separator, a decimal separator and a "$".
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)
# Format the columns.
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.1f}".format)
district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.1f}".format)
district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.1f}".format)
district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.1f}".format)
district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:.1f}".format)

# Display the data frame
district_summary_df

TypeError: unsupported format string passed to Series.__format__

##  School Summary

In [ ]:
# Determine the School Type
per_school_types = school_data_df.set_index(["school_name"])["type"]

# Calculate the total student count.
per_school_counts = school_data_complete_df["school_name"].value_counts()

# Calculate the total school budget and per capita spending
per_school_budget = school_data_complete_df.groupby(["school_name"]).mean()["budget"]
# Calculate the per capita spending.
per_school_capita = per_school_budget / per_school_counts

# Calculate the average test scores.
per_school_math = school_data_complete_df.groupby(["school_name"]).mean()["math_score"]
per_school_reading = school_data_complete_df.groupby(["school_name"]).mean()["reading_score"]

# Calculate the passing scores by creating a filtered DataFrame.
per_school_passing_math = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)]
per_school_passing_reading = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)]

# Calculate the number of students passing math and passing reading by school.
per_school_passing_math = per_school_passing_math.groupby(["school_name"]).count()["student_name"]
per_school_passing_reading = per_school_passing_reading.groupby(["school_name"]).count()["student_name"]

# Calculate the percentage of passing math and reading scores per school.
per_school_passing_math = per_school_passing_math / per_school_counts * 100
per_school_passing_reading = per_school_passing_reading / per_school_counts * 100

# Calculate the students who passed both reading and math.
per_passing_math_reading = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)
                                               & (school_data_complete_df["math_score"] >= 70)]

# Calculate the number of students passing math and passing reading by school.
per_passing_math_reading = per_passing_math_reading.groupby(["school_name"]).count()["student_name"]

# Calculate the percentage of passing math and reading scores per school.
per_overall_passing_percentage = per_passing_math_reading / per_school_counts * 100

In [ ]:
# Create the DataFrame
per_school_summary_df = pd.DataFrame({
    "School Type": per_school_types,
    "Total Students": per_school_counts,
    "Total School Budget": per_school_budget,
    "Per Student Budget": per_school_capita,
    "Average Math Score": per_school_math,
    "Average Reading Score": per_school_reading,
    "% Passing Math": per_school_passing_math,
    "% Passing Reading": per_school_passing_reading,
    "% Overall Passing": per_overall_passing_percentage})


per_school_summary_df.head(16)

In [ ]:
# Format the Total School Budget and the Per Student Budget
per_school_summary_df["Total School Budget"] = per_school_summary_df["Total School Budget"].map("${:,.2f}".format)
per_school_summary_df["Per Student Budget"] = per_school_summary_df["Per Student Budget"].map("${:,.2f}".format)

# Display the data frame
per_school_summary_df
# total_pop_10_12_graders = per_school_summary_df[per_school_summary_df["Thomas High School"], per_school_summary_df["Total Students"]]

In [ ]:
# Step 5.  Get the number of 10th-12th graders from Thomas High School (THS).
ths_10_graders_df = pd.DataFrame(data = school_data_complete_df[(school_data_complete_df["grade"] == "10th") & 
                                                            (school_data_complete_df["school_name"] == "Thomas High School")])
# _10_graders_df
ths_12_graders_df = pd.DataFrame(data = school_data_complete_df[(school_data_complete_df["grade"] == "12th") & 
                                                            (school_data_complete_df["school_name"] == "Thomas High School")])
ths_10_12_graders_df = ths_10_graders_df.append(ths_12_graders_df)
pop_10_12_graders = ths_10_12_graders_df['Student ID'].count()
print(f"no. of 10 and 12th graders at THS:\t{(pop_10_12_graders)}")

In [ ]:
# Step 6. Get all the students passing math from THS
ths_passing_math_df = ths_10_12_graders_df[(ths_10_12_graders_df["school_name"] == "Thomas High School") & 
                                                (ths_10_12_graders_df["math_score"] >= 70)]
pop_10_12_graders_passing_math = ths_passing_math_df.count()["Student ID"]
print(f'All the students passing math from THS:\t{pop_10_12_graders_passing_math}')

In [ ]:
# Step 7. Get all the students passing reading from THS
ths_passing_reading_df = ths_10_12_graders_df[(ths_10_12_graders_df["school_name"] == "Thomas High School") & 
                                                (ths_10_12_graders_df["reading_score"] >= 70)]
pop_10_12_graders_passing_reading = ths_passing_reading_df.count()["Student ID"]
print(f'All the students passing reading from THS:\t{pop_10_12_graders_passing_reading}')

In [ ]:
# Step 8. Get all the students passing math and reading from THS
ths_passing_math_reading_df = ths_10_12_graders_df[(_10_12_graders_df["school_name"] == "Thomas High School") & 
                                                (_10_12_graders_df["math_score"] >= 70) & (_10_12_graders_df["reading_score"] >= 70)]
pop_12_12_passing_math_reading = ths_passing_math_reading_df.count()["Student ID"]
print(f'All the students passing math and reading from THS:\t{pop_12_12_passing_math_reading}')

In [ ]:
# Step 9. Calculate the percentage of 10th-12th grade students passing math from Thomas High School. 
percent_ths_10_12_passing_math = pop_10_12_graders_passing_math / float(pop_10_12_graders) * 100
# print(pop_10_12_graders)
# credit: stackoverflow
float_formatter = "{:,.2f}".format

print(f'percent_ths_10_12_passing_math:\t{float_formatter(percent_ths_10_12_passing_math)}')

In [ ]:
# Step 10. Calculate the percentage of 10th-12th grade students passing reading from Thomas High School.
percent_ths_10_12_passing_reading = pop_10_12_graders_passing_reading / float(pop_10_12_graders) * 100
# credit: stackoverflow
float_formatter = "{:,.2f}".format

print(f'percent_ths_10_12_passing_reading:\t{float_formatter(percent_ths_10_12_passing_reading)}')

In [ ]:
# Step 11. Calculate the overall passing percentage of 10th-12th grade from Thomas High School. 
overall_passing_percent_10_12_graders = pop_12_12_passing_math_reading / pop_10_12_graders * 100

print(f"overall passing percentage of 10th-12th grade from THS:\t{float_formatter(overall_passing_percent_10_12_graders)}")

In [ ]:
# Step 12. Replace the passing math percent for Thomas High School in the per_school_summary_df.
# per_school_summary_df[per_school_summary_df[per_school_summary_df.index == "Thomas High School"]]
# print(per_school_summary_df.index.name)
# list(per_school_summary_df.index.values)
for idx in per_school_summary_df.index.values:
    if idx == "Thomas High School":
        per_school_summary_df.loc["Thomas High School","% Passing Math"] = percent_ths_10_12_passing_math
        
per_school_summary_df

In [ ]:
# Step 13. Replace the passing reading percentage for Thomas High School in the per_school_summary_df.
for idx in per_school_summary_df.index.values:
    if idx == "Thomas High School":
        per_school_summary_df.loc["Thomas High School","% Passing Reading"] = percent_ths_10_12_passing_reading
        
per_school_summary_df

In [ ]:
# Step 14. Replace the overall passing percentage for Thomas High School in the per_school_summary_df.
for idx in per_school_summary_df.index.values:
    if idx == "Thomas High School":
        per_school_summary_df.loc["Thomas High School","% Overall Passing"] = percent_ths_10_12_passing_reading
        
per_school_summary_df

In [ ]:
per_school_summary_df

## High and Low Performing Schools

In [ ]:
# Sort and show top five schools.
top_five_schools = per_school_summary_df.sort_values(["% Overall Passing"], ascending=False)
top_five_schools

In [ ]:
# Sort and show top five schools.
top_five_schools = per_school_summary_df.sort_values(["% Overall Passing"], ascending=True)
top_five_schools

## Math and Reading Scores by Grade

In [ ]:
# Create a Series of scores by grade levels using conditionals.
ninth_graders_df = pd.DataFrame(data = school_data_complete_df[(school_data_complete_df["grade"] == "9th")])
tenth_graders_df = pd.DataFrame(data = school_data_complete_df[(school_data_complete_df["grade"] == "10th")])
eleventh_graders_df = pd.DataFrame(data = school_data_complete_df[(school_data_complete_df["grade"] == "11th")])
twelfth_graders_df = pd.DataFrame(data = school_data_complete_df[(school_data_complete_df["grade"] == "12th")])
ninth_graders_df

# Group each school Series by the school name for the average math score.
ninth_grade_math_scores_df = pd.DataFrame(data=ninth_graders_df.groupby(["school_name"]).mean()["math_score"])
tenth_grade_math_scores_df = pd.DataFrame(data=tenth_graders_df.groupby(["school_name"]).mean()["math_score"])
eleventh_grade_math_scores_df = pd.DataFrame(data=eleventh_graders_df.groupby(["school_name"]).mean()["math_score"])
twelfth_grade_math_scores_df = pd.DataFrame(data=twelfth_graders_df.groupby(["school_name"]).mean()["math_score"])
ninth_graders_df

# Group each school Series by the school name for the average reading score.
ninth_grade_reading_scores_df = pd.DataFrame(data=ninth_graders_df.groupby(["school_name"]).mean()["reading_score"])
tenth_grade_reading_scores_df = pd.DataFrame(data=tenth_graders_df.groupby(["school_name"]).mean()["reading_score"])
eleventh_grade_reading_scores_df = pd.DataFrame(data=eleventh_graders_df.groupby(["school_name"]).mean()["reading_score"])
twelfth_grade_reading_scores_df = pd.DataFrame(data=twelfth_graders_df.groupby(["school_name"]).mean()["reading_score"])
ninth_graders_df

In [ ]:
# Combine each Series for average math scores by school into single data frame.
math_scores_by_grade = pd.concat([ninth_grade_math_scores_df, tenth_grade_math_scores_df], axis=1) #,
math_scores_by_grade = pd.concat([math_scores_by_grade, eleventh_grade_math_scores_df, twelfth_grade_math_scores_df], axis=1)
headers =  ["9th", "10th", "11th", "12th"]
math_scores_by_grade.columns = headers
math_scores_by_grade.head()

In [ ]:
# Combine each Series for average reading scores by school into single data frame.

reading_scores_by_grade = pd.concat([ninth_grade_reading_scores_df, tenth_grade_reading_scores_df], axis=1) #,
reading_scores_by_grade = pd.concat([reading_scores_by_grade, eleventh_grade_reading_scores_df, twelfth_grade_reading_scores_df], axis=1)
headers =  ["9th", "10th", "11th", "12th"]
reading_scores_by_grade.columns = headers
reading_scores_by_grade.head()

In [ ]:
# Format each grade column.
math_scores_by_grade["9th"] = math_scores_by_grade["9th"].map("{:.1f}".format)
math_scores_by_grade["10th"] = math_scores_by_grade["10th"].map("{:.1f}".format)
math_scores_by_grade["11th"] = math_scores_by_grade["11th"].map("{:.1f}".format)
math_scores_by_grade["12th"] = math_scores_by_grade["12th"].map("{:.1f}".format)

math_scores_by_grade.columns = headers # = math_scores_by_grade[["9th", "10th", "11th", "12th"]]

In [ ]:
# Remove the index.
math_scores_by_grade.index.name = None

# Display the data frame
math_scores_by_grade.head()

## Scores by School Spending

In [ ]:
# Establish the spending bins and group names.
per_school_capita.describe()


# Categorize spending based on the bins.
per_school_capita

In [ ]:
# Calculate averages for the desired columns. 
spending_math_scores = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Math Score"]
spending_math_scores
spending_reading_scores = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Reading Score"]
spending_reading_scores
spending_passing_math = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Math"]
spending_passing_math
spending_passing_reading = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Reading"]
spending_passing_reading
overall_passing_spending = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Overall Passing"]
overall_passing_spending

In [ ]:
# Create the DataFrame
spending_summary_df = pd.DataFrame({
          "Average Math Score" : spending_math_scores,
          "Average Reading Score": spending_reading_scores,
          "% Passing Math": spending_passing_math,
          "% Passing Reading": spending_passing_reading,
          "% Overall Passing": overall_passing_spending})

spending_summary_df

In [ ]:
# Format the DataFrame 
spending_summary_df["Average Math Score"] = spending_summary_df["Average Math Score"].map("{:.1f}".format)

spending_summary_df["Average Reading Score"] = spending_summary_df["Average Reading Score"].map("{:.1f}".format)

spending_summary_df["% Passing Math"] = spending_summary_df["% Passing Math"].map("{:.0f}".format)

spending_summary_df["% Passing Reading"] = spending_summary_df["% Passing Reading"].map("{:.0f}".format)

spending_summary_df["% Overall Passing"] = spending_summary_df["% Overall Passing"].map("{:.0f}".format)

spending_summary_df

## Scores by School Size

In [ ]:
# Establish the bins.
spending_bins = [0, 585, 630, 645, 675]
# To group the spending ranges, we use the Pandas cut() function.
# The cut() function segments and sorts data values into bins. 
# We'll use the cut() function to create our spending bins.
pd.cut(per_school_capita, spending_bins)
per_school_capita.groupby(pd.cut(per_school_capita, spending_bins)).count()
group_names = ["<$584", "$585-629", "$630-644", "$645-675"]
group_names
# Categorize spending based on the bins.
per_school_summary_df["Spending Ranges (Per Student)"] = pd.cut(per_school_capita, spending_bins, labels=group_names)
per_school_summary_df

In [ ]:
# Calculate averages for the desired columns. 
spending_math_scores = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Math Score"]
spending_math_scores
spending_reading_scores = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Reading Score"]
spending_reading_scores
spending_passing_math = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Math"]
spending_passing_math
spending_passing_reading = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Reading"]
spending_passing_reading
overall_passing_spending = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Overall Passing"]
overall_passing_spending

In [ ]:
# Assemble into DataFrame. 
spending_summary_df = pd.DataFrame({
          "Average Math Score" : spending_math_scores,
          "Average Reading Score": spending_reading_scores,
          "% Passing Math": spending_passing_math,
          "% Passing Reading": spending_passing_reading,
          "% Overall Passing": overall_passing_spending})

spending_summary_df

In [ ]:
# Format the DataFrame  

spending_summary_df["Average Math Score"] = spending_summary_df["Average Math Score"].map("{:.1f}".format)
spending_summary_df["Average Reading Score"] = spending_summary_df["Average Reading Score"].map("{:.1f}".format)
spending_summary_df["% Passing Math"] = spending_summary_df["% Passing Math"].map("{:.0f}".format)
spending_summary_df["% Passing Reading"] = spending_summary_df["% Passing Reading"].map("{:.0f}".format)
spending_summary_df["% Overall Passing"] = spending_summary_df["% Overall Passing"].map("{:.0f}".format)

spending_summary_df

## Scores by School Type

In [ ]:
# Calculate averages for the desired columns. 

type_math_scores = per_school_summary_df.groupby(["School Type"]).mean()["Average Math Score"]
type_reading_scores = per_school_summary_df.groupby(["School Type"]).mean()["Average Reading Score"]
type_passing_math = per_school_summary_df.groupby(["School Type"]).mean()["% Passing Math"]
type_passing_reading = per_school_summary_df.groupby(["School Type"]).mean()["% Passing Reading"]
type_overall_passing = per_school_summary_df.groupby(["School Type"]).mean()["% Overall Passing"]

In [ ]:
# Assemble into DataFrame. 
type_summary_df = pd.DataFrame({
          "Average Math Score" : type_math_scores,
          "Average Reading Score": type_reading_scores,
          "% Passing Math": type_passing_math,
          "% Passing Reading": type_passing_reading,
          "% Overall Passing": type_overall_passing})

In [ ]:
# # Format the DataFrame 
type_summary_df["Average Math Score"] = type_summary_df["Average Math Score"].map("{:.1f}".format)
type_summary_df["Average Reading Score"] = type_summary_df["Average Reading Score"].map("{:.1f}".format)
type_summary_df["% Passing Math"] = type_summary_df["% Passing Math"].map("{:.0f}".format)
type_summary_df["% Passing Reading"] = type_summary_df["% Passing Reading"].map("{:.0f}".format)
type_summary_df["% Overall Passing"] = type_summary_df["% Overall Passing"].map("{:.0f}".format)

type_summary_df